    {% load static %}
	{% load active_link_tags %}
    <!-- Main Sidebar Container -->
	<aside class="main-sidebar sidebar-dark-primary elevation-4">
		<!-- Brand Logo -->
		<a href="/" class="brand-link">
		<img src="{% static 'main/images/logo.jpg' %}" alt="logo" class="brand-image img-circle elevation-3" style="opacity: .8">
		<span class="brand-text font-weight-light">Admin Panel</span>
		</a>

		<!-- Sidebar -->
		<div class="sidebar">

			<!-- Sidebar user panel (optional) -->
			<div class="user-panel mt-3 pb-3 mb-3 d-flex">
				<div class="image">
				  <img src="{% static 'dashboard/img/profile.png' %}" class="img-circle elevation-2" alt="User Image">
				</div>
				<div class="info">
				  <a href="#" class="d-block">{{user.username}}</a>
				</div>
			  </div>

			<nav class="mt-2">
				<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
					
					<li class="nav-item">
						<a href="{% url 'admins:dashboard' %}" class="nav-link {% active_link 'admins:dashboard' 'active' %}">
						<i class="nav-icon fas fa-tachometer-alt"></i>
						<p>Dashboard</p></a>
					</li>
					<li class="nav-item">
						<a href="{% url 'admins:more_info_request' %}" class="nav-link {% active_link 'admins:more_info_request' 'active' %}">
							<i class="nav-icon fas fa-info-circle"></i>
						<p>More Info Request</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'admins:search_result' %}" class="nav-link {% active_link 'admins:search_result' 'active' %}">
						<i class="nav-icon fas fa-search"></i>
						<p>Search Results</p></a>
					</li>

					<li class="nav-item">
						<a href="{% url 'admins:list_school' %}" class="nav-link {% active_link 'admins:list_school' 'active' %}">
						<i class="nav-icon fas fa-th-large"></i>
						<p>All School</p></a>
					</li>
					<li class="nav-item">
						<a href="{% url 'admins:create_school' %}" class="nav-link {% active_link 'admins:create_school' 'active' %}">
							<i class="nav-icon fas fa-plus-square"></i>
							<p> Add School</p></a>
					</li>
					<li class="nav-item">
						<a href="{% url 'admins:subject_list' %}" class="nav-link {% active_link 'admins:subject_list' 'active' %}">
						<i class="nav-icon fas fa-chalkboard"></i>
						<p>Subject Groups</p></a>
					</li>
					<li class="nav-item">
						<a href="{% url 'admins:combination_list' %}" class="nav-link {% active_link 'admins:combination_list' 'active' %}">
						<i class="nav-icon fas fa-book"></i>
						<p>Combinations</p></a>
					</li>
					<li class="nav-item">
						<a href="{% url 'location:import_region' %}" class="nav-link {% active_link 'location:import_region' 'active' %}">
						<i class="nav-icon fas fa-file-import"></i>
						<p>Import Region</p></a>
					</li>
					<li class="nav-item">
						<a href="{% url 'location:import_district' %}" class="nav-link {% active_link 'location:import_district' 'active' %}">
						<i class="nav-icon fas fa-upload"></i>
						<p>Import District</p></a>
					</li>
					<li class="nav-item">
						<a href="{% url 'accounts:logout' %}" class="nav-link {% active_link 'accounts:logout' 'active' %}">
						<i class="nav-icon fas fa-sign-out-alt"></i>
						<p>Logout</p></a>
					</li>

				</ul>
			</nav>
		</div>
	</aside>