[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.5"
django-decouple = "*"
django-crispy-forms = "*"
django-widget-tweaks = "*"
pillow = "*"
django-import-export = "*"
django-multiselectfield = "*"
django-formtools = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.9"
