{% extends 'dashboard/base.html' %}


{% block content %}
<div class="container pt-3 pb-3">
    <div class="row">
          <div class="col-md-6">
              {% include 'messages.html' %}
              <div class="card card-info">
                  <div class="card-header">
                    <h3 class="card-title">Import Districts</h3>
                  </div>
                  
                  <!-- /.card-header -->
                  <!-- form start -->
                  <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
                    <div class="card-body">
                      <div class="form-group">
                          <label for="exampleInputEmail1">Import Districts</label>
                          <input class="form-control" type="file" name="importDistrict">
                          <small class="text-info">Only .xls file format is allowed</small>
                      </div>
                    </div>
                    <!-- /.card-body -->
    
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary">
                      <i class="fas fa-upload mr-2"></i> Import</button>
                    </div>
                  </form>
                </div>
          </div>
          <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">All Districts</h3>
                </div>

                <div>
                  <table class="mx-2 table table-sm table-bordered">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>District</th>
                        <th>Region</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for d in district_list %}
                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{d.name}}</td>
                        <td>{{d.region}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                
              </div>
        </div>
    </div>
</div>

{% endblock %}