{% extends 'main/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block stylesheet %}

<style>

</style>

{% endblock stylesheet %}


{% block content %}

    <div class="container">
        <div class="py-3 text-center border-bottom">
            <img class="d-block mx-auto mb-3" src="{% static 'main/images/logo.jpg' %}" alt="" width="120" height="auto">
            <h3 class="text-secondary">School Directive Analytics Results</h3>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card border-light">
                    <div class="card-header border-bottom border-primary border-2">
                        <h3 class="text-primary">School List</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            {% if filter.qs %}
                            <thead class="bg-primary text-light">
                                <tr>
                                    <th>S/N.</th>
                                    <th>School Name</th>
                                    <th>Gender</th>
                                    <th>Region</th>
                                    <th>District</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            {% endif %}
                            <tbody>
                                {% for obj in filter.qs %}
                                <tr>
                                    <td>{{forloop.counter}}.</td>
                                    <td>{{ obj.name }}</td>
                                    <td>{{obj.accomodation_type}}</td>
                                    <td>{{obj.region}}</td>
                                    <td>{{obj.district}}</td>
                                    <td>
                                        <a class="btn btn-sm btn-primary" href="https://application.f21c.co.tz/?school={{obj.name}}">Apply</a>
                                    </td>
                                </tr>
                                {% empty %}
                                <div class="text-center py-5">
                                    <img src="{% static 'main/images/no_item.svg' %}" width="100" height="auto" alt="no item">
                                    <h4 class="lead py-2">No School Found, Please Repeat</h4>
                                </div>
                                {% endfor %}
                            </tbody>
                        </table>

                        <div>
                            <button type="button" class="btn btn-success btn-md my-2 mx-5" id="subscribe-button" name="button" data-url="{% url 'main:subscribe' %}" school-ids="{{filter.qs}}">Get More Info</button>
                        </div>

                        <div class="border-bottom border-primary border-2 py-2 pt-5">
                            <h4 class="text-title">NECTA Form 4 Ranks</h4>
                        </div>               

                        <div class="py-4">
                            <canvas id="form_4Chart" width="400" height="180"></canvas>
                        </div>

                        <div class="border-bottom border-primary border-2 py-2 pt-5">
                            <h4 class="text-title">NECTA Form 6 Ranks</h4>
                        </div>               

                        
                        <div class="py-4">
                            <canvas id="form_6Chart" width="400" height="180"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

<!-- Modal 1 with id="create-book"-->
<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function () {    
        $("#subscribe-button").modalForm({
            formURL: "{% url 'main:subscribe' %}",
            modalID: "#create-modal"
        });
    });
</script>

    <script>
        $(document).ready(function () {
            var ctx = document.getElementById('form_4Chart').getContext('2d');
            var form_4Chart = new Chart(ctx, {
                type: 'horizontalBar',
                data: {
                    labels: [{% for o in filter.qs %}'{{o.name}}', {% endfor %}],
                    datasets: [{
                        label: 'Total Points',
                        data: [{% for s in form_4_rank %}
                    {{s.total_point}},
                    {% endfor %}],
                        backgroundColor: [
                            'green',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
               
                options: {
                    barValueSpacing: 20,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            }); 
        });
    </script>


<script>
    $(document).ready(function () {
        var ctx = document.getElementById('form_6Chart').getContext('2d');
        var form_6Chart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: [{% for o in filter.qs %}'{{o.name}}', {% endfor %}],
                datasets: [{
                    label: 'Total Points',
                    data: [{% for s in form_6_rank %}
                {{s.total_point}},
                {% endfor %}],
                    backgroundColor: [
                        'green',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
           
            options: {
                barValueSpacing: 20,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        }); 
    });
</script>

{% endblock javascript %}