{% load widget_tweaks %}

<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header bg-primary text-light">
    <p class="modal-title">Get more info about schools</p>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <div class="modal-body">
      <p>Write your name and whatsapp number to receive more school's information in video clips and pictures</p>

      <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
  
      {% for field in form %}
        <div class="form-group mb-2">
          <label class="mb-2" for="{{ field.id_for_label }}"><b>{{ field.label }}</b></label>
          {% render_field field class="form-control" placeholder=field.label %}
          <div class="{% if field.errors %} invalid{% endif %}">
            {% for error in field.errors %}
              <p class="help-block">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

</form>